@import url(./__content/aboutAuthor__content.css);
@import url(./__main/aboutAuthor__main.css);
@import url(./__photo/aboutAuthor__photo.css);
.aboutAuthor {
    /* height: 624px; */
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFFFFF;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .aboutAuthor {
        /* height: 354px; */
        max-width: 768px;
    }
  }
  
  @media screen and (max-width: 320px) {
    .aboutAuthor {
        /* height: 752px; */
        max-width: 320px;
    }
  }