.title_footer {
    font-family: 'Roboto';
    max-width: 433px;
    margin-left: 104px;
    margin-top: 32px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #B6BCBF;
  }