.popup__content {
  width: 430px;
  min-height: 458px;
  background-color: #fff;
  border-radius: 10px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px 28px;
}

@media screen and(min-width: 321px) and (max-width: 540px) {
  .popup__content {
    width: calc(100% - 60px);
  }
}

@media screen and (max-width: 320px) {
  .popup__content {
    width: 100%;
  }
}

.popup__content_login {
  min-height: 383px;
}

.popup__content_registered {
  min-height: 182px;
}

.popup__content_mobile {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #1A1B22;
  border-radius: 16px;
  padding: 21px 16px 24px;
}