.search-card__image-block {
    /* height: 272px;
    background-size: 408px 282px;
    background-position: center; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .search-card__image-block {
        background-size: 224px 150px;
    background-position: center;
    }
}

@media screen and (max-width: 320px) {
    .search-card__image-block {
        background-size: 288px 196px;
    background-position: center;
    }
}