.header__button_loggedin-button {
    padding: 12px;
    border: 1px solid #1A1B22;
    color: #1A1B22;
    box-sizing: border-box;
    border-radius: 100px;
    height: 48px;
    margin:18px 0;
    display: flex;
    align-content: center;
}