.search-card__delete-icon {
    width: 40px;
    height: 40px;
    background: url(../../../src/images/trash-normal.svg) center no-repeat;
    background-color: #FFFFFF;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    margin-right: 24px;
    margin-top: 24px;
    position: absolute;
}

.search-card__delete-icon:hover {
    background: url(../../../src/images/trash-focused.svg) center no-repeat;
    background-color: #FFFFFF;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .search-card__delete-icon {
        margin-right: 8px;
        margin-top: 8px;
    }
}

@media screen and (max-width: 320px) {
    .search-card__delete-icon {
        margin-right: 16px;
        margin-top: 16px;
    }
}