.search-card__image {
    /* height: 272px;
    background-size: 408px 282px;
    background-position: center; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    /* position: relative;
    display: flex;
    flex-direction: row;
    justify-content: end; */
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .search-card__image {
        width: 224px;
        /* height: 150px; */
    }
}

@media screen and (max-width: 320px) {
    .search-card__image {
        width: 288px;
        /* height: 196px; */
    }
}