.text_search {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 24px;
    color: #FFFFFF !important;
    max-width: 545px;
    /* height: 48px; */
    margin: 0 33% 0 29%;
    padding: 32px 0 64px;
}

@media screen and (min-width: 765px) and (max-width: 890px) {
    .text_search {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 518px) and (max-width: 764px) {
    .text_search {
        max-width: 452px;
        margin: 0 21% 0 20%;
        padding: 60px 0 128px;
    }
}
@media screen and (min-width: 321px) and (max-width: 517px) {
    .text_search {
        /* height: 72px; */
        margin: 0 5%;
        padding: 60px 0 120px;
    }
}


@media screen and (max-width: 320px) {
    .text_search {
        max-width: 288px;
        /* height: 72px; */
        margin: 0 5%;
        padding: 16px 0 120px;
    }
}