.aboutAuthor__photo {
    min-width: 464px;
    height: 464px;
    border-radius: 1000px;
}

@media screen and (min-width: 321px) and (max-width: 865px) {
    .aboutAuthor__photo {
        margin: 21px auto;
        min-width: 232px;
        height: 232px;
    }
}

@media screen and (max-width: 320px) {
    .aboutAuthor__photo {
        min-width: 272px;
        height: 272px;
    }
}