.title_search {
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  color: #FFFFFF;
  max-width: 608px;
  /* height: 128px; */
  padding-top: 80px;
  margin: 0 29% 0 33%;
  /* padding-right: 63px; */
}

@media screen and (min-width: 891px) and (max-width: 1086px) {
  .title_search {
    padding-top: 20px;
  }
}


@media screen and (min-width: 765px) and (max-width: 890px) {
  .title_search {
    padding-top: 40px;
  }
}

@media screen and (min-width: 321px) and (max-width: 764px) {
  .title_search {
    font-size: 36px;
    line-height: 40px;
    max-width: 385px;
    /* height: 80px; */
    margin: 0 30.7% 0 21%;
    padding: 38px 0 0;
  }
}

@media screen and (min-width: 321px) and (max-width: 518px) {
  .title_search {
    padding: 15;
    margin: 0 8% 0;

  }
}
@media screen and (max-width: 320px) {
  .title_search {
    font-size: 36px;
    line-height: 40px;
    max-width: 285px;
    /* height: 80px; */
    margin: 0 5% 0;
    padding: 30px 0 0;
  }
}