.text_preloader {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 24px !important;
    width: 280px;
    color: #B6BCBF !important;
    margin: 24px 43%;
}

@media screen and (min-width: 321px) and (max-width: 517px){
    .text_preloader {
        margin: 24px 31%;
    }
}
@media screen and (max-width: 320px) {
    .text_preloader {
        margin: 24px 20%;
    }
}