@import url(./__field/search__field.css);
@import url(./__field-button/search__field-button.css);
@import url(./__field-space/search__field-space.css);
.search {
    /* display: flex;*/
    background-image: url(../../src/images/search-image.jpg);
    height: 576px;
    left: 0px;
    top: 0px;
}

.search3 {
    background: #FFFFFF;
    box-shadow: inset 0px -1px 0px #D1D2D6;
    height: 80px;
    left: 0px;
    top: 0px;
}