.footer__icon {
    background: url(../../../src/images/github.svg) center no-repeat;
    width: 20px;
    height: 20px;
    margin-right: 28px;
    display: block;
}

.footer__icon_2 {
    background: url(../../../src/images/facebook.svg) center no-repeat;
}