@import url('../text/_search/text_search.css');
@import url('../text/_aboutAuthor/text_aboutAuthor.css');
@import url('../text/_warning/text_warning.css');
@import url('../text/_search-card/text_search-card.css');
@import url('../text/_saved-articles/text_saved-articles.css');
@import url('../text/_saved-articles-tags/text_saved-articles-tags.css');
@import url('../text/_popup/text_popup.css');

.text {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  color: #1A1B22;
}