.text_aboutAuthor {
    font-weight: 400 !important;
    font-size: 18px !important;
    line-height: 24px;
    margin-bottom: 35px;
    margin-top: 0;
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .text_aboutAuthor {
        margin-bottom: 38px;
    }
}

@media screen and (max-width: 320px) {
    .text_aboutAuthor {
        margin-bottom: 38px;
    }
}