@import url(./__button/search_field__button.css);
@import url(./__space/search_field__space.css);
.search_field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFFFFF;
    border: 1px solid #D1D2D6;
    box-sizing: border-box;
    backdrop-filter: blur(8px);
    border-radius: 100px;
    width: 608px;
    height: 64px;
    margin: 0 416px 0;
}