.header__title {
    height: 24px;
    width: 200px;
    margin-left: 104px;
    margin-top: 30px;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
}