.search__field-space {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    /* color: #B6BCBF; */
    margin:  21px 24px;
    width: 376px;
    border: none;
}